<br><br><br><br>
<div *ngIf="!editMode" class="edit-cta" (click)="edit()">
  <button mat-fab class="bg-dark text-light">
    <span class="icon-emoji">✏️</span>
  </button>
</div>

<div *ngIf="editMode" class="save-cta" (click)="save()">
  <button mat-fab class="bg-warning text-dark">
    <span class="icon-emoji">💾</span>
  </button>
</div>

<div class="card-wrapper" *ngIf="recipe">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="../../assets/images/recipes/{{ recipe.imageUrl }}">
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class="product-content">
        <h2 class="product-title">
          <span *ngIf="!editMode">{{recipe.name}}</span>
          <span *ngIf="editMode" contenteditable="true" id="newRecipeName">{{recipe.name}}</span>
          <span *ngIf="editMode" class="icon-emoji">✏️</span>
        </h2>
        <div class="product-rating">
            <span>Rating: {{recipe.rating}}</span>
            &nbsp;
            <span class="new-price">Approx: 
                <span>£{{totalCost}}</span>
            </span>
        </div>
        <br>

        <div class="product-detail">
          <h4>About This Item: <span *ngIf="editMode" class="icon-emoji">✏️</span></h4>
            <p *ngIf="!editMode">{{recipe.description}}</p>
            
            <p *ngIf="editMode" contenteditable="true" id="newDescription">{{recipe.description}}</p>
            
          <br>
          <h4 class="p-0 m-0">Ingredients: <span *ngIf="editMode" (click)="open(content)">↩</span></h4>
          <ul class="p-0 m-0" *ngFor="let ingredient of recipe.ingredients; let i=index;">
            <li>
              <span *ngIf="editMode"><span class="amendIngredientDown" (click)="updateIngredient(i, -1)">➖</span></span>
                {{ingredient.name}} {{ingredient.quantity}}{{ingredient.servingMetric}} (~£{{ingredient.getCost()}})
              <span *ngIf="editMode"><span class="amendIngredientUp" (click)="updateIngredient(i, 1)">➕</span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="newStepString" autocomplete="off" placeholder="Add a new step for the recipe..."><span class="amendIngredientUp" (click)="addStep()">➕</span>
    </div>
    <br>
    <div *ngIf="recipe.steps.length == 0">
      <div class="card p-1">
        <p>There are no steps configured for this recipe...</p>
      </div>
    </div>
    <div *ngIf="!editMode">
      <div class="card-body" style="background-color: #f2f2f2;" *ngFor="let step of recipe.steps; let i=index;">Step {{i+1}} - {{step}}</div>
    </div>
    <div *ngIf="editMode" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="card-body"  style="background-color: #f2f2f2;"*ngFor="let step of recipe.steps; let i=index;" cdkDrag><p style="width: 90%">🔃 Step {{i+1}} - {{step}}</p></div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-wrapper p-1 m-1">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Ingredient</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for a specific ingredient...">
        </div>
          <ul *ngFor="let ingredient of allIngredients | filterIngredientNamePipe : searchText">
            <li (click)="addIngredient(ingredient)" style="cursor:pointer">
              {{ingredient.name}}
            </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Done')">Done</button>
      </div>
    </div>
  </ng-template>