<br><br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="recipes-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let recipe"> {{recipe.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Type </th>
      <td mat-cell *matCellDef="let recipe"> {{recipe.type}} </td>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by totalCost"> Cost </th>
      <td mat-cell *matCellDef="let recipe"> £{{recipe.totalCost}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let recipe"> <ng-container *ngFor="let i of [].constructor(recipe.roundedRating)">⭐</ng-container>({{recipe.rating.toFixed(2)}} - {{recipe.ratings}}) </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef ><button style="float: right;" mat-mini-fab class="bg-success" (click)="open(newRecipe)">➕</button></th>
      <td mat-cell *matCellDef="let recipe"> 
        <button style="float: right;" mat-mini-fab color="warn" (click)="deleteRecipe(recipe._id)">🗑️</button>
        &nbsp;
        <button style="float: right; margin-right: 5px;" mat-mini-fab color="accent" (click)="navigateToRecipe(recipe._id)">✏️</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
    [pageSizeOptions]="[10, 5, 20]"
    showFirstLastButtons
    aria-label="Select page of ingredients">
  </mat-paginator>
</div>

<ng-template #newRecipe let-modal>
  <div class="modal-wrapper">
    <div class="modal-header p-1 m-1">
      <h4 class="modal-title" id="modal-basic-title">New Recipe</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-1 m-2">
      <form [formGroup]="newRecipeForm" (ngSubmit)="addNewRecipe()">
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Name..." formControlName="name">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Type..." formControlName="type">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Description" formControlName="description">
        </div>
      </form>
    </div>
    <div class="modal-footer p-1 m-1">
      <button type="button" class="btn btn-success" (click)="addNewRecipe()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Done')">Cancel</button>
    </div>
  </div>
</ng-template>
