<br><br><br>
<p>Only the first 10 results are returned. Please use the search bar to refine your search</p>
<div class="input-group mb-3">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for a specific recipe...">
</div>
<table class="recipe-table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cost</th>
          <th>Rating</th>
          <th><button style="float: right;" mat-mini-fab class="bg-success" (click)="open(newRecipe)">➕</button></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes | filterRecipeNamePipe : searchText; index as i">
      <td *ngIf="i<10">{{ recipe.name }}</td>
      <td *ngIf="i<10">{{ recipe.type }}</td>
      <td *ngIf="i<10">£{{ recipe.totalCost.toFixed(2) }}</td>
      <td *ngIf="i<10"><ng-container *ngFor="let i of [].constructor(recipe.roundedRating)">⭐</ng-container>({{recipe.rating.toFixed(2)}} - {{recipe.ratings}})</td>
      <td *ngIf="i<10">        
        <button style="float: right;" mat-mini-fab color="warn" (click)="deleteRecipe(recipe._id)">🗑️</button>
        &nbsp;
        <button style="float: right; margin-right: 5px;" mat-mini-fab color="accent" (click)="navigateToRecipe(recipe._id)">✏️</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #newRecipe let-modal>
  <div class="modal-wrapper">
    <div class="modal-header p-1 m-1">
      <h4 class="modal-title" id="modal-basic-title">New Recipe</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-1 m-2">
      <form [formGroup]="newRecipeForm" (ngSubmit)="addNewRecipe()">
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Name..." formControlName="name">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Type..." formControlName="type">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Description" formControlName="description">
        </div>
      </form>
    </div>
    <div class="modal-footer p-1 m-1">
      <button type="button" class="btn btn-success" (click)="addNewRecipe()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Done')">Cancel</button>
    </div>
  </div>
</ng-template>
