<br><br><br><br>

<div class="card-wrapper">
    <div class="card shadow">
        <button mat-fab class="bg-info text-dark">
          <label for="file-upload" >📷</label>
          <input type="file" id="file-upload" (change)="onFileChanged($event)">
        </button>
    </div>
    <div class="card shadow">
      <button mat-fab class="bg-info text-dark" (click)="inspect()">Inspect
      </button>
  </div>
</div>

<!-- <div class="row" *ngIf="analysing">
  <p *ngFor="let status of statuses">{{status.Progress}}</p>
</div> -->
  