<br><br><br><br>

<div class="card-wrapper">
  <button mat-fab class="bg-info text-dark"> 
    <label for="file-upload" >📷</label>
      <input type="file" id="file-upload" (change)="onFileChanged($event)">
  </button>
  <button mat-fab class="bg-info text-dark" (click)="inspect()">Inspect</button>
</div>

<div class="row" *ngIf="analysing">
  <div *ngFor="let status of statuses"> 
    <p id="statusText">{{status.Name}} <span *ngIf="status.DisplayProgress">{{status.getProgress()}}</span></p>
  </div>
</div>

<div class="row" *ngIf="analysed">
  <pre>
    <code id="analysedText" *ngFor="let item of purchasedItems">{{item}}</code>
  </pre>
</div>
  