<br><br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="ingredients-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost"> Cost </th>
      <td mat-cell *matCellDef="let ingredient"> £{{ingredient.getCost()}} </td>
    </ng-container>

    <ng-container matColumnDef="servingSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by servingSize"> Serving Size </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.servingSize}} </td>
    </ng-container>

    <ng-container matColumnDef="servingMetric">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by servingMetric"> Serving Metric </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.servingMetric}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef ><button style="float: right;" mat-mini-fab class="bg-success" (click)="open(newIngredient)">➕</button></th>
      <td mat-cell *matCellDef="let ingredient"> 
        <button style="float: right;" mat-mini-fab color="warn" (click)="deleteIngredient(ingredient._id)">🗑️</button>
        &nbsp;
        <button style="float: right; margin-right: 5px;" mat-mini-fab color="accent" (click)="open(updateIngredient, ingredient)">✏️</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
    [pageSizeOptions]="[10, 5, 20]"
    showFirstLastButtons
    aria-label="Select page of ingredients">
  </mat-paginator>
</div>

<ng-template #newIngredient let-modal>
  <div class="modal-wrapper">
    <div class="modal-header p-1 m-1">
      <h4 class="modal-title" id="modal-basic-title">New Ingredient</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-1 m-2">
      <form [formGroup]="newIngredientForm" (ngSubmit)="addNewIngredient()">
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Name..." formControlName="name">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="number" autocomplete="off" placeholder="Cost..." formControlName="cost">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="number" autocomplete="off" placeholder="Serving size..." formControlName="servingSize">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Serving metric..." formControlName="servingMetric">
        </div>
      </form>
    </div>
    <div class="modal-footer p-1 m-1">
      <button type="button" class="btn btn-success" (click)="addNewIngredient()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Done')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #updateIngredient let-modal>
  <div class="modal-wrapper">
    <div class="modal-header p-1 m-1">
      <h4 class="modal-title" id="modal-basic-title">Update Ingredient</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-1 m-2">
      <form [formGroup]="updateIngredientForm" (ngSubmit)="updateExistingIngredient()">
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Name..." formControlName="name">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="number" autocomplete="off" placeholder="Cost..." formControlName="cost">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="number" autocomplete="off" placeholder="Serving size..." formControlName="servingSize">
        </div>
        <div class="input-group m-1">
          <input class="form-control" type="text" autocomplete="off" placeholder="Serving metric..." formControlName="servingMetric">
        </div>
      </form>
    </div>
    <div class="modal-footer p-1 m-1">
      <button type="button" class="btn btn-success" (click)="updateExistingIngredient()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Done')">Cancel</button>
    </div>
  </div>
</ng-template>