.ingredients-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.ingredients-table thead tr {
    background-color: #212529;
    color: #f2f2f2;
    text-align: left;
}

.ingredients-table th,
.ingredients-table td {
    padding: 12px 15px;
}

.ingredients-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ingredients-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ingredients-table tbody tr:last-of-type {
    border-bottom: 2px solid #212529;
}

.ingredients-table tbody tr.active-row {
    font-weight: bold;
    color: #212529;
}