.mat-table{
    font-family: Rubik, sans-serif !important; 
    border-collapse: collapse !important;
    margin: 25px 0 !important;
    font-size: 1.1rem !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
    width: 100% !important;
    background-color: #f2f2f2!important;
    color: #212529 !important;
    text-align: left !important;
}

.mat-table th{
    font-size: 16px!important;
    font-weight: 500;
    background-color: #212529 !important;
    color: #f2f2f2 !important;
    text-align: left !important;
    padding: 12px 15px !important;
}

.mat-table td {
    padding: 12px 15px !important;
    font-size: 1.1rem;
    color: #212529 !important;
}

.mat-table tr {
    border-bottom: 1px solid #dddddd !important;
}

.mat-table tr:nth-of-type(even) {
    background-color: #C0C0C0;
}

.mat-table tr:last-of-type {
    border-bottom: 2px solid #212529 !important;
}

.mat-table tr.active-row {
    font-weight: bold !important;
    color: #212529 !important;
}

.mat-paginator{
    background-color: #212529 !important;
    color: #f2f2f2 !important;
    text-align: left !important;
}